<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href=" ">HOME</a></li>
        <li class="breadcrumb-item active-page" active aria-current="page">STRUDEL</li>
    </ol>
    </nav>
    <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <img src="../../assets/imgs/strudel.jpg" 
            style="width:50%">
          </div>
          <div class="col">
            <h2>STRUDEL</h2>
            <h4>Ingredienti</h4>
            <ul>
                <li><strong>Farina 00</strong> 180 g </li>
                <li><strong>Olio di semi</strong> 9 g </li>
                <li><strong>Acqua</strong> 30 ml</li>
                <li><strong>Mele Golden</strong> 750 g</li>
                <li><strong>Zucchero</strong> 60 g</li>
                <li><strong>Burro</strong> 50 g</li>
                <li><strong>Uvetta</strong> 50 g</li>
                <li><strong>Cannella in polvere</strong> 1 g</li>
                <li><strong>Marmellata frutti di bosco</strong> 500 g</li>
                <li><strong>Frutti di bosco per guarnire</strong> 50 g</li>
            </ul>
          </div>
        </div>
      </div>
