img {
    cursor: pointer;
}

ol {
    margin-bottom: 0;
}

h5 {
    color: rgb(83, 83, 83);
}

.ritirato {
    color: rgb(184, 182, 182);
    text-decoration: line-through;
    font-size: 17px;
}

mat-icon {
    font-size: 22px;
}

button {
    width: 4%;
    border: transparent;
    padding-top: 4px;
    border-radius: 9px;
    margin-right: 10px;
}


button:hover {
    background-color: rgba(247, 247, 247, 0.727);
}

.day {
    font-size: 10px;
    border-bottom: 1px solid #cfcfcf;
}

.testo-icone {
    font-size: 13px;
    font-weight: bold;
    width: 4%;
}

.card {
    left: 21%;
    width: 15rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card:hover {
    object-fit: cover;
    opacity: 0.7;
}

footer {
    font-size: 10px;
}